.weather-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100vh;
    width: 60vh;
    padding: 50px;
    background-color: rgba(173, 216, 230, 0.6);
    border-radius: 12px;
    margin-top: 150px;
    margin-bottom: 50px;
}

.WeatherIcon {
    width: 100px;
    height: 100px;
}

