.weather-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100vh;
    width: 60vh;
    padding: 50px;
    background-color: lightblue;
    border-radius: 12px;
    margin-top: 150px;
    margin-bottom: 50px;
}

.day1, .day2, .day3, .day4, .day5, .day6, .day7 {
    text-align: left;
    text-transform: uppercase;
    line-height: 5;
    font-weight: 700;
    font-size: 1.2em;
}